<div class="region-inline-wrapper">
    {% load i18n %}
    {% if change and original %}
        {% if not inline_admin_formset.formset.has_editregions %}
        <div class="errors">
            <p>{% trans "No configuration found for the current template." %}</p>
        </div>
        {% endif %}
    {% else %}
        <!--
              {% trans "No regions available yet" %}
        -->
    {% endif %}
    {% load editregion_result_list %}
    {% for cl in inline_admin_formset.formset.region_changelists %}
        <div class="module filtered changelist-as-inline" id="changelist-{{ forloop.counter }}" data-region="{{ cl.region }}">
        {% include "admin/editregions/change_list_filters.html" with available_chunks=cl.available_chunks iterating=forloop.counter %}
        <p class="paginator">
            <b>{{ cl.get_region_display }}:</b>
            <span class="paginator-count" id="paginator-count-{{ forloop.counter }}">
                {{ cl.result_count }}
            </span>
            {% ifequal cl.result_count 1 %}
                {{ cl.opts.verbose_name }}
            {% else %}
                {{ cl.opts.verbose_name_plural }}
            {% endifequal %}
        </p>
        {% editregion_result_list cl %}
        </div>
    {% endfor %}
</div>
{% include "admin/editregions/change_list_progress.html" with x=1 only %}
