<div class="region-inline-wrapper">
    {% load i18n %}
    {% if change and original %}
        {% if inline_admin_formset.formset.region_changelists|length < 1 %}
        <div class="errors">
            <p>{% trans "No configuration found for the current template." %}</p>
        </div>
        {% endif %}
    {% else %}
        <!--
              {% trans "No regions available yet" %}
        -->
    {% endif %}
    {% load editregion_result_list %}
    {% for cl in inline_admin_formset.formset.region_changelists %}
        <div class="module filtered changelist-as-inline {% for chunk in cl.available_chunks %} chunktype-{{ chunk.url_parts.app }}-{{ chunk.url_parts.module }}{% endfor %}" id="changelist-{{ forloop.counter }}" data-region="{{ cl.region }}">
        {% include "admin/editregions/change_list_filters.html" with available_chunks=cl.available_chunks iterating=forloop.counter %}
        <p class="paginator">
            <b>{{ cl.get_region_display }}:</b>
            <span class="paginator-count" id="paginator-count-{{ forloop.counter }}">
                {{ cl.result_count }}
            </span>
            {% ifequal cl.result_count 1 %}
                {{ cl.opts.verbose_name }}
            {% else %}
                {{ cl.opts.verbose_name_plural }}
            {% endifequal %}
        </p>
        {% editregion_result_list cl %}
        </div>
    {% endfor %}
</div>
{% include "admin/editregions/change_list_progress.html" with x=1 only %}
{% comment %}
For normal, non-ajax page requests which have a known template field, output
javascript to notify the window to do an AJAX request ...
{% endcomment %}
{% for cl in inline_admin_formset.formset.region_changelists %}
{% if forloop.first and cl.request_template and not request_is_ajax %}
<script type="text/javascript">
(function($, document) {
    var template_field_handler = function(evt) {
        evt.preventDefault();
        evt.stopPropagation();
        var value = $(this).val();
        var url = '{{ inline_admin_formset.formset.editregion_config.get_absolute_url }}';
        var arguments_to_send = [
            url,
            '{{ cl.request_template.kv.key }}',
            value,
            '{{ opts.model_name }}'
        ];
        $(document).trigger('template_changed', arguments_to_send);
    };
    var selector = '#{{ opts.model_name }}_form [name="{{ cl.request_template.kv.key }}"]';
    $(selector).eq(0).change(template_field_handler);
})(django.jQuery, document);
</script>
{% endif %}
{% endfor %}
