/*
much of this is borrowed from django-treeadmin, which itself is based on
django-feincms
*/

.drag_handle {
    width: 16px;
    height: 16px;
    background: url('../img/arrow-move.png');
    display: inline-block;
    vertical-align: middle;
}

.drag_handle:hover {
    cursor: row-resize;
}

.ui-sortable .ui-sortable-placeholder {
    background: #ffe761;
    -moz-opacity: 0.40;
    -khtml-opacity: 0.40;
    opacity: 0.40;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=40);
    visibility: visible !important;
}

.delete_handle {
    background: url('../../admin/img/icon_deletelink.gif') 50% 50% no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    text-indent: -13435px;
}

.module .results-list {
    margin: 0;
    padding: 0 0 0 0;
    list-style: none;
}

.results-list-item {
    padding: 0.5em 0.5em 0.5em 1em;
    position: relative;
}

.chunk-object-tools {
    float: right;
}

.chunk-metadata-summary {
    display: block;
}
.chunk-metadata-subclass {
    font-weight: bold;
}
