.changelist-as-inline {
    overflow: hidden;
    background: white url('../../admin/img/changelist-bg.gif') top right repeat-y !important;
}

.changelist-as-inline table {
    width: 100%;
}

.changelist-as-inline .results {
    margin-right: 161px !important;
    width: auto !important;
}

.changelist-as-inline .changelist-filter {
    float: right;
    z-index: 1000;
    width: 160px;
    border-left: 1px solid #ddd;
    background: #efefef;
    margin: 0;
}

.changelist-as-inline .changelist-filter h3 {
    font-size: 12px;
    margin-bottom: 0;
}

.changelist-as-inline .paginator {
    color: #999;
    border: 0;
    border-bottom: 1px solid #ccc;
    background: white url('../../admin/img/nav-bg.gif') 0 100% repeat-x;
    overflow: hidden;
    font-size: 11px;
    padding: 0 1em;
    line-height: 22px;
    margin: 0;
}

.changelist-as-inline .paginator b {
    color: #666;
}

.changelist-as-inline .add-chunks__available {
    margin-left: 10px;
    padding-left: 0;
}

.changelist-as-inline .add-chunks__available li {
    list-style: none;
}

.changelist-as-inline .add-chunks__available a {
    color: #999;
}

.changelist-as-inline .add-chunks__available a:hover {
    color: #036;
}

.already-in-popup {
    /* combo of system-message and changelink */
    background: url('../../admin/img/nav-bg.gif') 0 0 repeat;
    padding: 6px 8px;
    font-size: .8em;
    color: #999;
    border: 1px solid #ccc;
}

.already-in-popup span {
    background: url('../../admin/img/icon_changelink.gif') 0 0 no-repeat;
    padding-left: 12px;
}

.region-inline-progress-wrapper .waiting,
.region-inline-progress-wrapper .success {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1.2em 10px;
    font-size: 11px;
    text-align: right;
    width: 100%;
    display: none;
}

.region-inline-progress-wrapper .waiting {
    background-color: #ffc;
    color: #417690;
}
