[run]
source = editregions
omit =
    editregions/tests/*
    editregions/migrations/*
    editregions/contrib/*/migrations/*
    editregions/*__init__
branch = True
data_file = .coverage
timid = True

[report]
exclude_lines =
    pragma: no cover

precision = 1
show_missing = True

[xml]
output = coverage.xml
