[run]
source = editregions
omit =
    editregions/tests/*
    editregions/migrations/*
    editregions/contrib/*/migrations/*
    *__init__*
branch = True
data_file = .coverage
timid = False

[report]
exclude_lines =
    pragma: no cover

precision = 1
show_missing = True
omit =
    editregions/tests/*
    editregions/migrations/*
    editregions/contrib/*/migrations/*
    *__init__*

[xml]
output = coverage.xml
