{% load i18n %}
<h2>{% trans "Add new content" %}</h2>
<div class="grouped-chunks">
{% regroup available_chunks|dictsort:'label' by module as grouped_chunks %}
{% for chunk_set in grouped_chunks %}
    <h3>{{ chunk_set.grouper|capfirst }}</h3>
    <ul class="add-chunks__available">
    {% for chunk in chunk_set.list %}
        <li><a href="{{ chunk.get_absolute_url }}">{{ chunk.label|capfirst }}</a></li>
    {% endfor %}
    </ul>
{% empty %}
    <h3>{% trans "None available" %}</h3>
    <ul class="add-chunks__available">
        <li>
            {% blocktrans with name=region.verbose_name %}
            Unable to add anything to {{ name }}.
            {% endblocktrans %}
        </li>
    </ul>
{% endfor %}
</div>
<div class="activity-occuring">
    <h3>{% trans "Please wait" %}</h3>
    <span>{% trans "Waiting for last action to complete" %}</span>
</div>
