.chunk-holder .form-row {
    padding: 0;
}

.chunk-holder .form-row div label,
.chunk-holder > h2 {
    display: none;
}

.chunk-holder {
    background: white url(../admin/img/admin/changelist-bg.gif) top right repeat-y !important
}

.chunk-holder .add-chunks {
    background: #EFEFEF;
    float: right;
    width: 160px;
    border-left: 1px solid #DDD;
    height: 100%;
}

.chunks-in-region {
    width: auto;
    margin-right: 161px;
}

.add-chunks h3 {
    font-size: 12px;
    margin-bottom: 0;
}

.chunk-holder .add-chunks__available {
    margin: 0 10px;
    padding: 0;
}

.chunk-holder .add-chunks__available li {
        list-style: none;
}

.add-chunks__available a {
    color: #999;
}

.add-chunks__available a:hover,
.add-chunks__available a.selected {
    color: #036;
}

.existing-chunks {
    width: 100%;
}
/*
.existing-chunks tr:hover {
    background: #EFEFEF;
}
*/

.existing-chunks__item td {
    border-bottom: 1px solid #DDD;
}

.existing-chunks__item__move {
    background: url(../admin/img/admin/nav-bg-grabber.gif) 0 0 no-repeat;
    padding-left: 1em;
    width: 4em;
    text-align: center;
    border-right: 1px solid #EEE;
}

.existing-chunks__item__delete,
.existing-chunks__title__delete {
    width: 6em;
    text-align: center;
}

.existing-chunks__item__move a {
    cursor: row-resize;
}


.existing-chunks__item__editing {
    background: #EDF3FE !important;
}

.existing-chunks__item__editing td,
.existing-chunks__item__editing a {
    color: #5B80B2;
}

.existing-chunks__item__moving {
    background: #ffc !important;
    cursor: row-resize;
}

.existing-chunks__item__moving td,
.existing-chunks__item__moving a {
    color: #99990f;
    cursor: row-resize;
}

.existing-chunks__item__justmoved {
    background: #d0f2a4;
}


.existing-chunks__item__deleting {
    background: #ffcece !important;
}

.existing-chunks__item__deleting td,
.existing-chunks__item__deleting a {
    color: #CC3434;
}
/*
.existing-chunks__item__deleting .existing-chunks__item__move,
.existing-chunks__item__deleting .existing-chunks__item__name,
.existing-chunks__item__editing .existing-chunks__item__move {
    opacity: 0.4;
}
.existing-chunks__item__moving .existing-chunks__item__delete .deletelink,
.existing-chunks__item__moving .existing-chunks__item__name,
.existing-chunks__item__editing .existing-chunks__item__delete .deletelink {
    opacity: 0.5;
}
*/

.activity-occuring {
    display: none;
}

.activity-occuring span {
    padding: 4px 10px;
    display: block;
    color: #999;
}

.existing-chunks__none {
    display: none;
}
