{% extends "list_users.html" %}
{% load editregion %}

{% block title %}{{ user }} &laquo; {{ block.super }}{% endblock %}

{% block extrahead %}
{% editregion_top "" user %}
{% endblock %}

{% block extrafoot %}
{% editregion_bottom "" user %}
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'list_users' %}">All users</a></li>
<li><a href="{% url 'show_user' user.pk %}" class="active">This user</a></li>
{% endblock %}


{% load adminlinks_buttons %}
{% block content %}
<h1>Details for <a href="{% url 'show_user' user.pk %}">{{ user }}</a></h1>
<table class="table table-striped">
    <tbody>
    <tr>
    <td>Email</td>
    <td>{{ user.email }}</td>
    </tr>
    <tr>
    <td>Forenames</td>
    <td>{{ user.first_name }}</td>
    </tr>
    <tr>
    <td>Surnames</td>
    <td>{{ user.last_name }}</td>
    </tr>
    <tr>
    <td>Joined</td>
    <td>{{ user.date_joined }}</td>
    </tr>
    </tbody>
</table>
{% render_edit_button user %}
<h2>Regions</h2>
<p class="lead">
    The following output comes from the <code>{% verbatim %}{% editregion %}{% endverbatim %}</code> template tag, and should only do <b>one</b> database query, no matter
    how often or how many times it is used on a given object.
</p>

<div class="alert alert-success">
<h5>"test" region</h5>
{% editregion "test" user %}
</div>

<div class="alert alert-info">
<h5>"test2" region</h5>
{% editregion "test2" user %}
</div>
<hr>
<h2>Regions re-called</h2>
<p class="lead">If we now call the same <code>{% verbatim %}{% editregion %}{% endverbatim %}</code> again, it should avoid the database entirely.</p>

<div class="alert alert-success">
<h5>"test" region</h5>
{% editregion "test" user %}
</div>

<div class="alert alert-info">
<h5>"test2" region</h5>
{% editregion "test2" user %}
</div>
<hr>
<div class="alert alert-warning"><b>Note:</b> The first time the server is loaded, the number of queries required for rendering the editregions may be more than one. This is because Django needs to look up the <code>ContentType</code> instances from the database. These are cached in memory by Django until the process restarts, so will stop appearing in future requests.</div>
<a class="btn btn-primary btn-xs" href="{% url 'list_users' %}">back to users</a>
{% endblock %}

