{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="../../../../">{% trans 'Home' %}</a> &rsaquo;
        <a href="../../../">{{ app_label|capfirst }}</a> &rsaquo;
        <a href="../../">{{ module_name }}</a> &rsaquo;
        <a href="../">{{ object|truncatewords:"18" }}</a> &rsaquo;
        {% trans 'Limit rearcheed' %}
    </div>
{% endblock %}

{% block content %}
    <div id="content-main">
        <div class="module">
            <h2>{% trans 'Limit reached' %}</h2>
            <p>
                {% blocktrans with limit=limit %}
                    Unable to add more than <b>{{ limit }}</b> to this region.
                {% endblocktrans %}
            </p>
            {% if limit != found %}
            <p>
                {% blocktrans with found=found %}
                    Found <b>{{ found }}</b>.
                {% endblocktrans %}
            </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
