<script type="text/javascript">
    (function($, doc, iframe, undefined) {
        params = [
            // action parameter (add/change/delete)
            '{{ action.as_string }}',
            // data dictionary.
            {
                primary_key: '{{ object.pk }}',
                html: '{{ html }}',
                parent_type: '{{ attached_to.content_type }}',
                parent_id: '{{ attached_to.content_id }}',
                parent_region: '{{ attached_to.region }}'
            }
        ];
        $(doc).trigger('fancyiframe-close', params);
        //$.event.trigger('click.fancyiframe.close')
    })(parent.django.jQuery, parent.document, document);
</script>
